/* Elementos HTML */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    margin: 5px;
}

hr {
    visibility: hidden;
}

/* Classes */
.containers {
    display: flex;
}

.titles {
    font-size: larger;
    font-weight: bold;
}

.menus {
    display: none;
    border-radius: 25px;
    padding: 1%; 
}

.menus.menu1 {
    background-color: aqua;
}

.menus.menu2 {
    background-color: chartreuse;
}

/* IDs */

#menucriar1 {
    display: none;
}

#menucriar2 {
    display: none;
}
